.background_neymar {
  background: rgba(3, 0, 12, 0.7) url("Imagens/principal_neymar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 346px;
}

.logo {
  display: flex;
}

.logo img {
  width: 64px;
  height: auto;
  display: flex;
  margin-top: 50px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
  margin-left: 210px;
}

.menu li a {
  display: flex;
  align-items: center;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 46px;
  margin-left: 165px;
  gap: 15px;
}

.entrar {
  color: white;
  margin-top: 30px;
}

.registrar {
  color: white;
  background-color: red;
  padding: 12px;
  margin-top: 18px;
  animation: 1s ease-in-out;
}

.registrar:hover {
  background-color: rgba(255, 0, 0, 0.233);
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 240px;
  margin-left: 346px;
}

.content h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 78px;
  line-height: 94px;
}

.content p {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}

.materia {
  text-align: center;
  width: 162px;
  margin-top: 48px;
  background-color: red;
  padding: 12px 22px;
  margin-top: 18px;
  animation: 1s ease-in-out;
}

.materia:hover {
  background-color: rgba(255, 0, 0, 0.233);
}

.materia a {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.placar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.placar h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.background_estadio {
  background: rgba(3, 0, 12, 0.7) url("Imagens/estadio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
}

.container2 {
  display: flex;
  align-items: center;
  margin-left: 340px;
}

.escrito {
  background-color: #f9f9f9;
  margin-top: 220px;
  width: 1040px;
  height: 449px;
}

.escrito h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin-top: 40px;
  margin-left: 59px;
  margin-right: 40px;
}

.escrito p {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  margin-top: 24px;
  margin-left: 59px;
  margin-right: 40px;
}

.ler_mais {
  color: red;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  margin-top: 36px;
  margin-left: 59px;
  margin-right: 40px;
}

.ler_mais a:visited {
  color: red;
}

.noticias {
  margin-top: 100px;
  margin-left: 217px;
}

.noticias h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.ultimas_noticias {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.messi {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.messi h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

.messip {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  margin-top: 16px;
}

.equipe1 {
  display: flex;
  gap: 178.5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  color: rgba(11, 20, 33, 0.45);
}

.mbappe1 {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.mbappe1 h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

.mbappep1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  margin-top: 16px;
}

.equipe2 {
  display: flex;
  gap: 179px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;

  color: rgba(11, 20, 33, 0.45);
}

.mbappe2 {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.mbappe2 h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

.mbappep2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  margin-top: 16px;
}

.equipe3 {
  display: flex;
  gap: 179px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;

  color: rgba(11, 20, 33, 0.45);
}

.carregar_mais {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.carregar_mais a {
  padding: 12px 22px;
  background: #da2535;
  border-radius: 4px;
  color: white;
}

.carregar_mais a:hover {
  background-color: rgba(255, 0, 0, 0.233);
}

.container3 {
  background-color: #0b1421;
  width: 100%;
  height: 432px;
}

.final {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.linguas {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.linguasli {
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 56px;
}

.linguas a {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.redes_sociais {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.redes_sociaisli {
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 56px;
}

.redes_sociais a {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.clube {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.clubeli {
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 56px;
}

.clube a {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

footer {
  color: rgb(117, 117, 117);
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    margin-left: 20px;
  }
  .logo img {
    max-height: 60px;
  }
  .menu ul {
    display: list-item;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 90px;
    line-height: 2;
  }
  .buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    font-size: 14px;
    margin-left: 30px;
    padding: 50px;
  }
  .content {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 80px;
    margin-left: 80px;
  }
  .content h1 {
    font-size: 30px;
  }
  .content p {
    font-size: 14px;
  }
  .materia a {
    color: white;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
  .placar {
    display: flex;
    gap: 34px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .placar h3 {
    font-style: normal;
    font-weight: 100px;
    font-size: 20px;
    line-height: 20px;
  }
  .placar img {
    max-height: 60px;
  }
  .container2 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .escrito {
    background-color: #f9f9f9;
    margin-top: 80px;
    width: 800px;
    height: 400px;
  }
  .escrito h2 {
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
  }
  .escrito p {
    font-weight: 200;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
  }
  .noticias {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
  }
  .ultimas_noticias {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  .messi {
    flex-direction: column;
    width: 200px;
  }
  .messip {
    font-weight: 100px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 4px;
    padding: 10px;
  }
  .equipe1 {
    display: none;
  }
  .mbappe1 {
    flex-direction: column;
    width: 200px;
  }
  .mbappe1 h4 {
    display: none;
  }
  .mbappep1 {
    font-weight: 100px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 4px;
  }
  .equipe2 {
    display: none;
  }
  .mbappe2 {
    flex-direction: column;
    width: 200px;
  }

  .mbappe2 h4 {
    display: none;
  }

  .mbappep2 {
    font-weight: 100px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 4px;
  }

  .equipe3 {
    display: none;
  }
  .container3 {
    background-color: #0b1421;
    width: 100%;
    height: 300px;
  }
  .final {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }

  .linguasli {
    color: white;
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;
    margin-top: 20px;
  }

  .linguas a {
    color: white;
    font-weight: 100px;
    font-size: 16px;
    line-height: 20px;
  }

  .redes_sociaisli {
    color: white;
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;
    margin-top: 20px;
  }

  .redes_sociais a {
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
  }

  .clubeli {
    color: white;
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;
    margin-top: 20px;
  }

  .clube a {
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
  }
  footer {
    color: rgb(117, 117, 117);
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
}
